* text=auto eol=lf

*.zig   text eol=lf
*.zon   text eol=lf
*.md    text eol=lf
*.sh    text eol=lf
*.yml   text eol=lf
*.yaml  text eol=lf
*.toml  text eol=lf
*.json  text eol=lf

*.bat   text eol=crlf
